

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Amiri/Amiri-Bold.ttf') format('truetype');
  font-weight: normal;
}
.App {
  text-align: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url("../src/assets/image/photo.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 20px;
  
}
.Card{
 opacity: 0.9;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 color: white;
 background: rgba(255, 255, 255, 0.9);
 background: linear-gradient(135deg, #3498db, #2c3e50);
  background: #cfcfcf !important;
 font-size: "20px";
  
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  transition: transform 0.2s;
}
/* Icônes */
.icon, .time-icon {
  color: #3498db;
  font-size: 1.5rem !important;
}

.stat-icon {
  font-size: 2rem !important;
  color: #f1c40f;
}

.titre{
  margin-bottom: 20px;
  color: black;
  
  font-size: "20px";
}

